<div class="container mt-5"  >


  <h4>Internal Server Error : Refreshing the page , will make errors disappear  </h4>
  <h5 class="text-danger"> Error : {{error.message}} </h5>
  <p class="font-weight-bold">
    Note : if you are seeing  this message , then angular is probably not responsible
    <p>What to do next ?</p>
    <ol>
      <li>Open Chrome Dev Tool</li>
      <li>Inspect the network tab</li>
      <li>Check the failing request</li>
      <li>Examin the request URL</li>
      <li>Reproduce the same error in postman : if issues happens in post man , then it is not the issue with angular</li>





    </ol>



  <p> Following is the stack trace
  </p>

  <code class="mt-5">{{error.details}}</code>

</div>
